<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="google-adsense-account" content="ca-pub-8841196775456939">


  <title>Error - AniChan</title>

  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body style="background-color:#0d0d0d; color:white; text-align:center; padding: 100px;">
<h1 style="font-size: 4rem;">Something Went Wrong</h1>
<p style="font-size: 1.5rem;">Oops! We couldn't load the page you're looking for.</p>
<a th:href="@{/}" class="btn btn-primary" style="margin-top: 20px;">Return to Home</a>

</body>

</html>
